// Typography

$t__font-main: 'Dinot', 'Palatino', Arial, sans-serif;
$t__font-sec: 'Palatino', 'Dinot', 'Times New Roman', sans-serif;

$t__font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

$t__line-height--body: 1.6;

$t__regular: 1.25rem; // 20px
$t__small: 0.875rem; // 14px
