/*! Media  */

img {
    max-width: 100%;
    height: auto;
}

.war-article-lightbox {
    .war-articles_video { 
        @media screen and (max-width: 1024px) {
            position: relative; 
            padding-bottom: 56.25%;
            overflow: hidden;
            max-width: 100%;
            height: auto;
        }
    } 

    .war-articles_video iframe,
    .war-articles_video object,
    .war-articles_video embed { 
        @media screen and (max-width: 1024px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.featherlight-content {
        width: 100%;
        @media screen and (max-width: 1024px) {
            max-width: 90%;
        }
}