/*! Home  */

.page-template-page-style-guide {
    .hero-placeholder {
        margin-bottom: 0;
    }

    .site-content {
        margin-top: $s__site-header-height;
    }
}

.war-styleguide {
    .war-sg-title {
        margin-left: -50px;
        margin-top: 100px;
    }
}

